<h1>Show Profiles</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @profiles.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @profiles.description %>
  </li>

  <li>
    <strong>User key:</strong>
    <%= @profiles.user_key %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.profiles_path(@conn, :edit, @profiles) %></span>
<span><%= link "Back", to: Routes.profiles_path(@conn, :index) %></span>
